<!-- <p>demo-material works!</p>
 <br>
 <mat-card appearance="outlined">
    <mat-card-content>Simple card</mat-card-content>
  </mat-card>
  

  <br>

  <div class="card1">

  
  <mat-card appearance="outlined" class="mat-card">
    <mat-card-header class="card-title">
      <mat-card-title >Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content class="Card-content">
        <p><b>Name:</b>  Raju Patil </p>
        <p> <b>Email:</b> abc.123.com </p>
        <p><b>Phone:</b>  1233212343</p>
        <p><b>Bio:</b>  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio doloribus illum ex quod quae voluptates officia adipisci recusandae quos possimus.</p>
    </mat-card-content>
   <mat-card-footer>
    <div class="example-button-container">
        <button mat-fab >
            <mat-icon>edit</mat-icon>    </button>
      </div>
   </mat-card-footer> 
  </mat-card>
  <br>

  <div class="example-button-container">
    <button mat-fab aria-label="Example icon button with a delete icon">
        <mat-icon>edit</mat-icon>    </button>
  </div>

</div> -->

<h2>Latest Jobs</h2>
<table class="table table-bordered w-100">
    <thead>
        <tr>
          <th>Sr. No</th>
          <th>Job Title</th>
          <th>Job Description</th>
          <th>Vacancy</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of allJobs; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ job.jobTitle }}</td>
          <td>{{ job.jobDescription }}</td>
          <td>{{ job.vacancy }}</td>
          <td><button class="btn btn-primary"(click)="applyjob(job.id)" >Apply</button>
            
          </td>
        </tr> 
      </tbody>
</table>


<p>
    Mat table
</p>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="jobDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.jobDescription}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="vacancy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> vacancy </th>
      <td mat-cell *matCellDef="let element"> {{element.vacancy}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  