 /* .mat-card {
     width: 50%;
     border: solid black 1px;
     padding: 5px;
    margin: 5px;
    
 }
 .card1{
    display: flex; */
    /* text-align: center; */
    /* justify-content: center;
 }

 .card-title{
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: dashed black 2px;
 }

 .Card-content
 {
    padding: 5px;
    margin: 5px;
 }



.example-button-container {
   float: right;
   margin: 5px;
   padding: 5px;

  } */